<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<form th:action="@{/produto/cadastrar}" th:object="${prod}" method="post">
    <input th:field="*{codigo}" type="hidden">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input th:field="*{nome}" id="nome" class="form-control">
    </div>
    <div class="form-group">
        <label for="data">Data Fabricação</label>
        <input th:field="*{dataFabricacao}" id="data" class="form-control">
    </div>
    <div class="form-group">
        <input th:field="*{novo}" id="novo" type="checkbox">
        <label for="novo">Novo</label>
    </div>
    <div class="form-group">
        <label for="preco">Preço</label>
        <input th:field="*{preco}" id="preco" class="form-control">
    </div>
    <button class="btn btn-success">Cadastrar</button>
</form>
</body>
</html>